DATABASE_URL="postgresql://csdlpt_user:csdlpt_pass@localhost:5432/csdlpt_hadong"
HADONG_URL="postgresql://csdlpt_user:csdlpt_pass@localhost:5432/csdlpt_hadong"
NGOCTRUC_URL="postgresql://csdlpt_user:csdlpt_pass@localhost:5433/csdlpt_ngoctruc"
HOALAC_URL="postgresql://csdlpt_user:csdlpt_pass@localhost:5434/csdlpt_hoalac"
SECRET_KEY="my_super_secret_key_123"
ALGORITHM="HS256"
